@charset "UTF-8";
/**
 * @author Prenom Nom courriel
 * @todo Lier les modules avec des instructions @import
 * @todo Compléter selon l'énoncé de l'exercice
 */
/*
 * ------------------
 * TABLE DES MATIERES
 * ------------------
 * Librairies
 ** Normalize
 * UTILITAIRES
 ** Variables
 ** Mixins
 * BASE
 ** Typographie
 ** Hyperliens
 ** Boutons
 * MODULES
 ** gds - Styles généraux du Guide de styles
 ** palette - Palette de couleurs
 ** listeInteractivite - Éléments interactifs
 */
/****** Librairies ******/
/** Normalize **/
/**** UTILITAIRES ****/
/** Variables **/
/** Mixins **/
/****** BASE ******/
/** Typographie **/
/** Hyperliens **/
/** Header **/
.main-header {
  position: sticky; /* Garde le header visible en haut */
  top: 0; /* S'applique au viewport */
  z-index: 100; /* Assure la superposition au contenu */
  background-color: transparent; /* Couleur de fond */
  transition: background-color 0.3s ease; /* Transition pour effet de scroll */
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  font-family: "Sora", sans-serif;
  width: 100%;
  color: white;
}
nav.scrolled {
  background-color: #131313;
}

.nav-desktop {
  padding: 0 12px 0 12px;
}

@media (max-width: 768px) {
  .nav-desktop {
    display: none;
  }
}
.logo {
  font-size: 36px;
  color: White;
  text-decoration: none;
  padding: 12px 24px;
  transition: all ease-in-out 300ms;
}

.logo:hover {
  color: #C67AFF;
}

.onglet {
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: White;
  text-decoration: none;
  padding: 12px 24px;
  transition: all ease-in-out 300ms;
}

.onglet:hover {
  color: #C67AFF;
}

.ctn-onglet {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

/*
 * Made by Erik Terwan
 * 24th of November 2015
 * MIT License
 */
.nav-mobile {
  padding: 12px;
}

#menuToggle {
  display: block;
  /* You can also use relative/absolute here if you want to stay on the top */
  position: relative;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: white;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
  position: absolute;
  top: 62px;
  width: 100vw;
  max-height: 100vh;
  padding: 50px;
  padding-top: 125px;
  box-sizing: border-box;
  overflow-y: auto;
  background: #121212;
  opacity: 80%;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translateX(-200%);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul {
  transform: translateX(-100%);
}

@media (min-width: 768px) {
  .nav-mobile {
    display: none; /* Cacher l'icône hamburger sur desktop */
  }
  .nav-desktop {
    display: flex;
  }
}
/****** MODULES ******/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sora", sans-serif;
}

body {
  background: linear-gradient(166deg, #0E0C15 10%, #251030 96.5%);
}

.btn {
  position: relative;
  display: inline-block;
  padding: 12px 24px;
  font-size: 16px;
  color: #d0d0d0;
  background-color: transparent;
  border: none;
  border-radius: 12px;
  text-align: center;
  cursor: pointer;
  z-index: 1;
  transition: color 200ms ease-in-out;
  overflow: hidden;
}
.btn:before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 2px;
  background: conic-gradient(from 180deg at 50% 50%, #89F9E8, #FACB7B, #D87CEE, #9099FC, #89F9E8);
  border-radius: inherit;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  z-index: -1;
}
.btn:hover {
  color: #C67AFF;
}

.div-gradient {
  width: 200px;
  height: 200px;
  position: relative;
  background: transparent;
  border-radius: 12px;
  border: 4px solid transparent;
  overflow: hidden;
}
.div-gradient::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  background: conic-gradient(from 180deg at 50% 50%, #89F9E8, #FACB7B, #D87CEE, #9099FC, #89F9E8);
  padding: 4px;
  z-index: -1;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}

/*# sourceMappingURL=styles.css.map */
