@charset "UTF-8";

/**
 * @author Prenom Nom courriel
 * @todo Lier les modules avec des instructions @import
 * @todo Compléter selon l'énoncé de l'exercice
 */

/*
 * ------------------
 * TABLE DES MATIERES
 * ------------------
 * Librairies
 ** Normalize
 * UTILITAIRES
 ** Variables
 ** Mixins
 * BASE
 ** Typographie
 ** Hyperliens
 ** Boutons
 * MODULES
 ** gds - Styles généraux du Guide de styles
 ** palette - Palette de couleurs
 ** listeInteractivite - Éléments interactifs
 */

/****** Librairies ******/

/** Normalize **/
// import '';  Adapter le lien vers votre fichier normalize dans node_module.

/**** UTILITAIRES ****/

/** Variables **/
@import "utilitaires/variables";

/** Mixins **/
@import "utilitaires/mixins";

/****** BASE ******/

/** Typographie **/
@import "base/typo";

/** Hyperliens **/
// import 'base/hyperlien';

/** Pages **/
@import "pages/nousJoindre.scss";

/** Header **/
@import "header";

/****** MODULES ******/

* {
  margin: 0;
  padding: 0;
  font-family: "Sora", sans-serif;
  box-sizing: border-box;

}

body {
 
  background: linear-gradient(166deg, #0e0c15 10%, #251030 96.5%);
}

main {
  padding-left: 10px;
  padding-right: 10px;
}

@media (min-width: 768px) {
  main {
    padding-left: 30px;
    padding-right:30px;
  }
}

@media (min-width: 1440px) {
  main {
    padding-left: 220px;
    padding-right: 220px;
  }
}

// @media (min-width: 1920px) {
//   main {
//     padding-left: 120px;
//     padding-right: 120px;
//   }
// }

.hidden{
  display:none;
}

.btn {
  position: relative;
  display: inline-block;
  padding: 12px 24px;
  font-size: 16px;
  color: $texte-blanc;
  background-color: transparent;
  border: none;
  border-radius: 12px;
  text-align: center;
  cursor: pointer;
  z-index: 1;
  transition: color 200ms ease-in-out;
  min-width: 240px;
  width: 240px;

  &:before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 2px;
    background: $multicolor;
    border-radius: inherit;
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0); // Crée un masque
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    z-index: -1;
  }

  &:hover {
    color: $libelle-bouton-survol;
  }
}
