@mixin gradient-border($border-width: 12px, $border-radius: 12px, $gradient: null) {
    $gradient: if($gradient == null, conic-gradient(from 180deg at 50% 50%, #89F9E8, #FACB7B, #D87CEE, #9099FC, #89F9E8), $gradient);
  
    position: relative;
    background: transparent;
    border-radius: $border-radius;
    border: $border-width solid transparent;
    overflow: hidden;
  
    &::before {
      content: "";
      position: absolute;
      inset: 0;
      border-radius: inherit;
      background: $gradient;
      padding: $border-width;
      z-index: -1;
  
      -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
      -webkit-mask-composite: destination-out;
      mask-composite: exclude;
    }
  }