// _typography.scss

// Polices
$font-primary: "Sora", sans-serif;

// _typography.scss

// Mobile-first styles
h1 {
  font-family: "Sora", sans-serif;
  font-size: 36px;
  line-height: 61px;
  font-weight: 600;

  @media (min-width: 1080px) {
    font-size: 42px;
    line-height: 61px;
    font-weight: 600;
  }
}

h2 {
  font-family: "Sora", sans-serif;
  font-size: 20px;
  line-height: 60.7px;
  font-weight: 600;

  @media (min-width: 1080px) {
    font-size: 26px;
    line-height: 61px;
  }
}

h3 {
  font-family: "Sora", sans-serif;
  font-size: 20px;
  line-height: 31px;
  font-weight: 600;

  @media (min-width: 1080px) {
    font-size: 20px;
    line-height: 60.7px;
  }
}

p {
  font-family: "Sora", sans-serif;
  font-size: 16px;
  line-height: 23.2px;
  font-weight: 400;
}

.label {
  font-family: "Sora", sans-serif;
  font-size: 18px;
  line-height: 31px;
  font-weight: 600;
}

.titre-xl {
  font-family: "Sora", sans-serif;
  font-size: 56px;
  line-height: 61px;
  font-weight: 700;

  @media (min-width: 1080px) {
    font-size: 68px; // inchangé
    line-height: 61px;
  }
}
