// _typography.scss

// Polices
$font-primary: "Sora", sans-serif;

// Tailles de texte
$font-size-text: 16px;
$font-size-title-xl: 68px;
$font-size-h1: 42px;
$font-size-h2: 26px;
$font-size-h3: 20px;
$font-size-label: 18px;

// Hauteurs de ligne (line-height en pixels)
$line-height-text: 23.2px;
$line-height-title-xl: 61px;
$line-height-h1: 61px;
$line-height-h2: 60.7px;
$line-height-h3: 31px;
$line-height-label: 31px;

// Poids des polices (font-weight)
$font-weight-regular: 400; // Texte courant
$font-weight-semibold: 600; // H1, H2, H3, Libellé input
$font-weight-bold: 700; // Très grand titre

h1 {
  @include titre-h1;
}

h2 {
  @include titre-h2;
}

h3 {
  @include titre-h3;
}

p {
  @include texte-courant;
}

.label {
  @include libelle-input;
}

.titre-xl {
  @include titre-tres-grand;
}
